.section {
  padding: 60px 0 80px;
}

.title {
  font-size: 32px;
  margin-bottom: 32px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 700px) {
  .projects {
    grid-template-columns: 1fr;
  }
   .title {
    text-align: center;
    font-size: 30px;
  }
}