.page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 120px 60px;
}

@media (max-width: 768px) {
  .main {
    padding: 34px 5px;
  }
}

